@use "../../styles/colors.scss" as c;

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: c.$black;
  width: 117px;
  ul{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:20px;
    height:100vh;
    margin-top: 275px;
  }
}